@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");


 .nav{
    /* background-color: aqua; */
     display: flex; 
    /* text-align: center;     -cant be used*/
    /* justify-content: center; */
    justify-content: center;
    gap:25%;
    border: 2px solid tomato;
    align-items: center;
    /* height: 200px;
    width: 1500px;
    margin: 10px auto; 
    rem,em, % -- responsive*/
    /* padding: 2%;*/
    margin-bottom: 1%; 
   


 } 
 .login-icon{
    cursor: pointer;
 }


 .searchbar{
    outline: none;
    border-radius: 25px;
    
    padding: 5px;
    border-width: 5px;
    /* box-shadow: inset 0px 0px 0px 0px red;
    appearance: none; */
    border: none;
    border-style: solid;
    border-color: 2px solid aqua;

 }
 .outer{
    border:2px solid aqua;
 }
.inner{
    display:flex;
    list-style-type: none;
    gap:70px;
    justify-content: center;

    
}

.links{
    display: flex;
    list-style-type: none;
    align-items: center;
}

.link{
    text-decoration: none;
    padding: 0 25px;
    /* border-style: dashed; */
}

.para{
    margin-left: 20px;
}



.login-icon{
    margin-right: 20px;
    font-size: 30px;
}

.cart{
    font-size: 30px;
}


